<div class="container py-4" style="text-align: center">
  <h2>Sign up</h2>
</div>
<div class="col-md-6 offset-md-3" style="text-align: left">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.input :first_name, placeholder: 'Douglas',
                required: true,
                input_html: { autocomplete: "first-name" } %>
        </div>
        <div class="form-group col-md-6">
          <%= f.input :last_name, placeholder: 'Berkley',
                required: true,
                input_html: { autocomplete: "last-name" } %>
        </div>
      </div>
      <%= f.input :email, placeholder: 'yannismyfriend@me.com',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                required: true, placeholder: 'JavaScriptSucks_1234',
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="form-actions w-100">
      <%= f.button :submit, "Sign up", class: "btn-outline-success w-100" %>
    </div>
  <% end %>
</div>