<!-- index.html.erb FOR OWNER::BOOKINGS -->
<h1>OWNERS BOOKINGS</h1>
<% counter = 0 %>
<div class="container">
  <table class="table table-hover table-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Toilet</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <th scope="row"><%= counter += 1 %></th>
          <td><%= booking.toilet.title %></td>
          <td><%= booking.toilet.address %></td>
          <td class="d-flex">
            <% if booking.status == "PENDING" %>
              <%= simple_form_for(booking) do |f| %>
                <%= f.input :status, input_html: {value: "confirmed"}, as: :hidden %>
                <%= f.submit "Accept", class: "btn btn-primary"%>
              <% end %>
              <div class="ml-2">
                <%= simple_form_for(booking) do |f| %>
                  <%= f.input :status, input_html: {value: "rejected"}, as: :hidden %>
                  <%= f.submit "Reject", class: "btn btn-dark" %>
                <% end %>
              </div>
            <% else %>
              <%= booking.status %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>