<div class="card-toilet my-4 ml-2">
  <% if toilet.photo.attached? %>
    <%= cl_image_tag toilet.photo.key, crop: :fill %>
  <% end %>
  <div class="card-toilet-infos">
    <div>
      <h2><%= toilet.title %></h2>
      <p><%= "⭐️"*rand(1..5) %></p>
      <!-- <p>Toilet description with <strong>relevant info</strong> only.</p> -->
      <h2 class="card-toilet-pricing">¥<%= toilet.price.to_i%></h2>
    </div>
  </div>
  <%= link_to "", toilet_path(toilet), class: "card-toilet-link" %>
</div>