<!-- show.html.erb -->
<h1><%= @toilet.title  %></h1>
<h2><%= @toilet.description %></h2>
<h2><%= @toilet.price %></h2>
<%= simple_form_for [@toilet, @booking] do |f| %>
  <%= f.button :submit, "FLUSH" %>
<% end %>