<!-- show.html.erb -->
<div class="d-flex justify-content-bewteen my-5 p-4" id="show-box">
  <div class="toilet-image ml-4">
    <!-- hard coded the image. change logic once image upload feature is ready. -->
    <% if @toilet.photo.attached? %>
      <%= cl_image_tag @toilet.photo.key, crop: :fill %>
    <% end %>
  </div>
  <div class="toilet-description">
    <row class="title pb-4">
      <h1><%= @toilet.title  %></h1>
      <span>
        <p>Rating: ⭐️⭐️⭐️⭐️</p>
      </span>
    </row>
    <row class="description">
      <h2><%= @toilet.description %></h2>
    </row>
    <div class="book-button">
      <%= simple_form_for [@toilet, @booking] do |f| %>
        <%= f.input :date, html5: true %>
        <%= f.button :submit, "Book an experience 🚽", class: "btn btn-pink" %>
      <% end %>
    </div>
  </div>
</div>